openai>=1.6.1,<2.0.0
langchain>=0.1.0
langchain-openai>=0.0.2
langchain-community>=0.0.10
streamlit
python-dotenv
faiss-cpu
nltk
pdf2image
pdfplumber
python-docx
docx2txt
tiktoken
typing_extensions
requests
tqdm
numpy
pandas
tenacity
aiohttp
yarl
frozenlist
datasets
scikit-learn
scipy
matplotlib
seaborn
watchdog
